@(buscarForm: Form[BuscarCuotasPorFamiliaForm], familia: FamiliaApi)(implicit request: MessagesRequestHeader)

    @import helper._


    @request.flash.get("success").map { key =>
        @request.messages(key)
    }


    @main("Cuotas") {

    <div id="teaser">
        <div class="wrap">
            <div class="box">
                <h2><em >Cuotas</em></h2>
                <p>Informacionsobre el pago a realizar</p>
            </div>
        </div>
    </div>
    <div class="wrap">
        @form(routes.PagoController.cargarDeudaAnterior()) {

        <div class="form-row">
        <input id="familia" type="hidden" name="familia" value="@familia.id" />
        <p> Familia: @familia.descripcion </p>
        </div>
        <div class="form-row">
        @inputText(buscarForm("deuda"), '_label -> "Deuda", 'class -> "form-control", '_class -> "form-group col-md-6")
        </div>
        <button class="btn btn-large btn-primary" type="submit" value="buscar">Agregar</button>
    }
    </div>



    }
