    @import helper._



    @main("Alumnos") {

    <div id="teaser">
        <div class="wrap">
            <div class="box">
                <h2><em >Sistema EMEI</em></h2>
                <p>Podrá administrar alumnos, familias, pagos, gastos y sacar reportes</p>
            </div>
        </div>
    </div>
        <<div class="buttons wrap">

            <button id="buttonAlumno" class="btn btn-large btn-primary" type="button"  value="buscar">Administrar Alumnos</button>
            <button id="buttonFamilia" class="btn btn-large btn-primary" type="button" value="buscar">Administrar Pagos</button>
            <button id="buttonBuscar" class="btn btn-large btn-primary" type="button" value="buscar">Administrar Gastos</button>
        <button id="buttonBuscar" class="btn btn-large btn-primary" type="button" value="buscar">Reportes</button>

        </div>


    </div>


    }
