@(buscarForm: Form[BuscarCuotasPorFamiliaForm], familiasWithoutAlumnos: List[FamiliaApi])(implicit request: MessagesRequestHeader)

    @import helper._


    @request.flash.get("success").map { key =>
        @request.messages(key)
    }


    @main("Cuotas") {

    <div id="teaser">
        <div class="wrap">
            <div class="box">
                <h2><em >Cuotas</em></h2>
                <p>En esta sección podrá Generar la obligación de pago Mensual, consultar las cuotas adeudadas por familia y generar el pago</p>
            </div>
        </div>
    </div>
        <div class="wrap">
            <h3>Generar Obligacion de pagos Mensual</h3>
            @form(routes.PagoController.generarObligacionDePagoMensual()) {
                @inputText(buscarForm("valorCuotaBase"))
                <button class="btn btn-large btn-primary" type="submit" value="buscar">Obligacion de pago mensual</button>
            }
            <h3>Consultar pagos pendientes por familia</h3>
            @form(routes.PagoController.buscar()) {
                <div class="form-row">
                @select(buscarForm("familia"), familiasWithoutAlumnos.sortBy(_.descripcion).map(f => f.id.toString -> f.descripcion), '_label -> "Familia", 'class -> "form-control", '_class -> "form-group col-md-6")
                </div>
                <button class="btn btn-large btn-primary" type="submit" value="buscar">Buscar</button>
            }

        </div>




    }
