@(pagos: Seq[PagoApi])(implicit request: MessagesRequestHeader)

@import helper._

@main("Alumnos") {
    <div id="teaser">
        <div class="wrap">
            <div class="box">
                <h2><em >Pagos Pendientes</em></h2>
            </div>
        </div>
    </div>

    <div class="wrap">
    @request.flash.get("success").map { key =>
        <div class="alert alert-success" role="alert">
            @request.messages(key)
        </div>
    }
    </div>

    <div  class="wrap">
        <div class="search">
        @form(routes.PagoController.generarPago()) {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                        <th scope="col">Valor Cuota Base</th>
                        <th scope="col">Total Cuota</th>
                        <th scope="col">Pago Parcial</th>
                        <th scope="col">recibo</th>
                        <th scope="col">tipo pago</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                @for(pago <- pagos) {
                    <tr>
                        <td></td>
                        <td>@pago.anioCuota</td>
                        <td>@pago.mesCuota</td>
                        <td>@pago.valorCuotaBase</td>
                        <td>@pago.totalSinDescuento</td>
                        <td>@pago.pagoParcial</td>
                        <td>@pago.recibo</td>
                        <td>@pago.tipoPago</td>
                        <td><input type="checkbox" name="cuotasAPagar" value="@pago.id" /> </td>
                    </tr>
                }
                </tbody>

            </table>
            <button class="btn btn-large btn-primary" type="submit" value="generar pago">Generar Pago</button>
        }
        </div>
    </div>

}