@(inscripciones: Seq[PagoInscripcionApi])(implicit request: MessagesRequestHeader)

@import helper._


@main("Alumnos") {
    <div id="teaser">
        <div class="wrap">
            <div class="box">
                <h2><em >Inscripciones Pendientes</em></h2>
            </div>
        </div>
    </div>
    <div class="wrap">
    @request.flash.get("success").map { key =>
        <div class="alert alert-success" role="alert">
            @request.messages(key)
        </div>
    }
    </div>
    <div  class="wrap">
        <div class="search">
        @form(routes.PagoController.generarPagoInscripcion()) {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Año</th>
                        <th scope="col">Valor Inscripcion</th>
                        <th scope="col">Total Inscripcion</th>
                        <th scope="col">Pago Parcial</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                @for(inscripcion <- inscripciones) {
                    <tr>
                        <td></td>
                        <td>@inscripcion.anio</td>
                        <td>@inscripcion.monto</td>
                        <td>@inscripcion.totalSinDescuento</td>
                        <td>@inscripcion.pagoParcial</td>
                        <td><input type="checkbox" name="inscripcionesAPagar" value="@inscripcion.id" /> </td>
                    </tr>
                }
                </tbody>

            </table>
            <button class="btn btn-large btn-primary" type="submit" value="generar pago">Generar Pago</button>
        }
        </div>
    </div>

}