@(pagoForm: Form[PagoForm],totalSinDescuento: Double, alumnos: List[AlumnoApi], cuotasAPagar: String)(implicit request: MessagesRequestHeader)

    @import helper._

    @main("Cuotas") {

    <div id="teaser">
        <div class="wrap">
            <div class="box">
                <h2><em >Cuotas</em></h2>
                <p>Informacionsobre el pago a realizar</p>
            </div>
        </div>
    </div>
        <div class="wrap">
        @request.flash.get("success").map { key =>
            <div class="alert alert-success" role="alert">
                @request.messages(key)
            </div>
        }
        </div>
    @form(routes.PagoController.realizarPago()) {
        <div class="wrap">

            <div class="form-row">
                <h3>Cantidad de alumnos: @alumnos.size</h3>
            </div>
            <div class="form-row">
                <h3>Alumnos</h3>
                <table class="table table-bordered">
                    <thead>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Descuento Especial</th>
                    </thead>
                    <tbody>
                    @for(alumno <- alumnos) {
                        <tr>
                            <td>@alumno.apellidos</td>
                            <td>@alumno.nombres</td>
                            <td>@alumno.descuentoEspecial</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wrap">
            <div class="form-group">
                <label>Valor Total Sin Descuentos: @totalSinDescuento</label>
            </div>
        </div>
        <div class="wrap">
            <div class="form-row">
                <span>@inputText(pagoForm("descuentoHermano"), '_label -> "Descuento hno.", '_class -> "form-group col-md-6")</span>
                <span>@inputText(pagoForm("descuentoEspecial"), '_label -> "Descuento especial", '_class -> "form-group col-md-6")</span>
            </div>
            <div class="form-row">
                <span>@inputText(pagoForm("interes"), '_label -> "Interes", '_class -> "form-group col-md-6")</span>
                <span>


                    <dl class="form-group col-md-6 " id="totalAPagar_field">

                        <dt><label for="totalAPagar">Total A Pagar</label></dt>

                        <dd>
                            <input type="text" id="totalAPagar" name="totalAPagar" value="@totalSinDescuento">
                        </dd>


                    </dl>
                </span>

            </div>
            <div class="form-row">
                <span>@inputText(pagoForm("recibo"), '_label -> "Recibo", '_class -> "form-group col-md-6")</span>
            </div>

            <div class="form-row">
                @checkbox(pagoForm("pagoParcial"), '_label -> "Pago parcial?", '_class -> "form-group col-md-3")

            </div>
            <button class="btn btn-large btn-primary" type="submit" value="buscar">Pagar</button>
           <input type="hidden" name="cuotasAPagar" value="@cuotasAPagar" />
            <input type="hidden" id="totalSinDescuento" value="@totalSinDescuento" />


        </div>
    }

    }
